<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xiaomi</title>
</head>
<body>
    <div>
        <span>小米官网</span>
        <span>小米商城</span>
        <span>小米澎湃OS</span>
        <span>小米汽车</span>
        <span>云服务</span>
        <input type="text"/>
    </div>
    <div>
        <img src="/static/title.png"/>
        <span>Xiaomi手机</span>
        <span>Redmi手机</span>
    </div>
    <div>
        <a href="https://www.mi.com/a/h/50077.html?sign=2d28c83322aacda7351a66aaa4729b4a">
            <img src="/static/potole.png" style="width:1200px;"/>
        </a>
    </div>
    <div>
        <a href="https://www.mi.com/shop/buy/detail?product_id=19436" target="_blank">
            <img src="/static/phone_01.jpg" style="height:350px"/>
        </a>
        <a href="https://www.mi.com/shop/buy/detail?product_id=19432" target="_blank">
            <img src="/static/phone_02.jpg" style="height:350px"/>
        </a>
    </div>
    <div>
        <a href="https://www.mi.com/shop/buy/detail?product_id=10050049" target="_blank">
            <img src="/static/phone_03.jpg" style="height:350px"/>
        </a>
        <a href="https://www.mi.com/shop/buy/detail?product_id=10050021" target="_blank">
            <img src="/static/phone_04.jpg" style="height:350px"/>
        </a>
    </div>
    <div>
        <img src="/static/title.png" style="height:100px;"/>
        <ul>
            <li>小米商城|</li>
            <li>小米澎湃OS|</li>
            <li>米家|</li>
        </ul>
        <ol>
            <li>多看|</li>
            <li>游戏|</li>
            <li>音乐|</li>
        </ol>
    </div>
</body>
</html>