<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xiaomi</title>
</head>
<body>
    <h1>用户列表</h1>
    <table>
        <thead>
            <tr>
                <th>用户名</th>
                <th>姓名</th>
                <th>性别</th>
                <th>电话号码</th>
                <th>年龄</th>
                <th>头像</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>郑郑</td>
                <td>郑一</td>
                <td>女</td>
                <td>13503948394</td>
                <td>20</td>
                <td>
                    <img src="/static/title.png" style="height:50px;"/>
                </td>
                <td>
                    <a href="">查看</a>
                    <a href="">修改</a>
                </td>
            </tr>
        </tbody>

    </table>
</body>
</html>