<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xiaomi</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>姓名</th>
                <th>年龄</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>01</td>
                <td>郑郑</td>
                <td>20</td>
            </tr>
            <tr>
                <td>02</td>
                <td>林林</td>
                <td>18</td>
            </tr>
        </tbody>
    </table>

</body>
</html>